@import "src/styles/variables";

.input-wrapper {
  color: $text-color;
  font-size: 16px;
  text-align: start;

  .input-content {
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-radius: 8px;

    input {
      width: 100%;
      border: none;
      border-radius: 8px 0px 0px 8px;
      background-color: $bg-input;
      padding: 12px;
      :focus {
        outline: none;
      }
    }

    .icon {
      padding: 12px;
      background-color: $primary-color;
      border-radius: 0px 8px 8px 0px;

      img {
        height: 20px;
      }
    }
  }
}
