<main>
  <section class="form-section">
    <img src="/assets/logo.svg" alt="logo do moveit" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="primary-btn">{{ primaryBtnText }}</button>
      <div class="divider">
        <div></div>
        <span>Or</span>
        <div></div>
      </div>
      <button class="secondary-btn">{{ secondaryBtnText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>You Should, MoveIt!</h1>
    <img src="/assets/main-illustration.svg" alt="" />
  </section>
</main>
